yt_dlp
pathlib
tkcalendar
datetime
geocoder
requests
playsound
gTTS
translate
python-docx
odfpy
openpyxl
PyGithub
language_tool_python
pyperclip
websocket-client
pillow
customtkinter
speechRecognition
playsound3
