body{
    background-color: white;
    color: black;
}

#titreGras{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#titreSouligner{
    text-decoration: underline;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#texteSouligner{
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

#texteGras{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#copieright{
    text-align: center;
    background-color: black;
    color :white;
}